<div class="navbar-section">
    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
          <div class="navbar-header">
            <a class="navbar-brand" (click)="gotoHome()">MyRecipes</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li class="active"><a (click)="gotoHome()">Home</a></li> -->
            <li><a (click)="gotoRecipes()">My Recipes</a></li>
            <li><a (click)="gotoAddRecipe()">Add Recipe</a></li>
            <li><a (click)="gotoFavouriteRecipes()">Favourite Recipes</a></li>
            <li><a (click)="gotoLogin()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </nav>
    </div>
</div>
