<div *ngIf="recipes.length > 0;else noRecipeFound">
    <div class="row" style="margin: 25px;">
        <div class="col-sm-3" *ngFor="let recipe of recipes" style="margin-bottom: 25px;">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="recipe.type == 'Veg';else nonVeg">
                            <h4 class="card-title">{{recipe.name}} <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Indian-vegetarian-mark.svg" style="height: 25px;width: 25px;"/></h4>
                        </div>
                        <ng-template #nonVeg>
                                <h4 class="card-title">{{recipe.name}} <img src="https://www.pngkey.com/png/full/245-2459071_non-veg-icon-non-veg-symbol-png.png" style="height: 25px;width: 25px;"/></h4>
                        </ng-template>
                    <p>👨‍🍳 {{recipe.chef}}</p>
                    <img class="card-img" [src]="recipe.image" style="height: 100%;width: 100%"/>
                    <!-- appHoverEffect defualtColor="{{recipe.type}}" -->
                    <div class="card-body"  >
                        <p>
                            {{recipe.info}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #noRecipeFound>
    <p>No Recipe Found</p>
</ng-template>